body{
	background-color: #F3F4EC;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 62.5%;
}

div#container {
	background-color: #fff;
}

/* =============================================
	HEADER
============================================= */
div#header {
	background-color: #008080;
}
div#header h1 a {
	color: #FFF;
}
div#header div#user {
	font-size: 12px;
	font-weight: normal;
	color: #f8f8f5;
}
div#header h1 div#user a {
	color: #f8f8f5;
	font-weight: normal;
	font-size: 11px;
}

/* =============================================
	ABAS
============================================= */
ul#nav {
	font-size: 1.1em;
}
ul#nav a {
	background-color: #E8C53B;
	color: #fff;
}
ul#nav a:hover {
	background: #76BBA5;
	color: #fff;
}
ul#nav li.active a, ul#nav li.active a:hover {
	background-color: #F6F5CD;
	color: #008080;
	font-weight: bold;
}

div#sub-menu {
	background-color: #F6F5CD;
	border-bottom-color: #CCC9AA;
}
div#sub-menu h3 {
	color: #89A664;
	font-size: 12px;
}
div#sub-menu h3 a {
	color: #008080;
	font-size: 11px;
	font-weight: normal;
}

/* =============================================
	TITLE
============================================= */
div#title h1 {
	color: #008080;
	font-size: 13px;
	font-weight: normal;
}
div#title h1 strong {
	font-size: 15px;
}


/* =============================================
	FOOTER
   ============================================= */

div#footer{
    background: #E8C53B;
	color: #FFF;
	text-align:center;
	font-size:1.1em;
}
div#footer p{ color:#FFFFFF;}
div#footer a{ color:#FFFFFF; font-weight:bold;}


/* =============================================
	CONTENT
   ============================================= */
h2{
	margin: 0 0 0 0;
	color: #007BC4;
	font-size:15px;
	border-bottom:1px solid #ddd;
	padding-bottom:2px;
	font-weight:bold;
}

h2 a{
	color: #007BC4;
	font-weight:normal;
	margin: 0 5px 0 5px;
}
h2 a:hover{
	color:#bbb;
}

h3 {
	margin: 0 0 0 0;
	color: #008080;
	font-size:12px;
	font-weight:bold;
}
